body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.background{
  width: 100%;
  height: 100%;
  background-image: url("header.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  height: 50%;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  vertical-align: bottom;
  color: whitesmoke;
}

.header-title {
  margin-bottom: 8%;
}

.find-btn {
  margin-top: auto;
  margin-bottom: auto;
}

.btn-primary {
  text-align: center;
  text-transform: uppercase;
  background-color: orangered;
  border-color: orangered;
}
