body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #e2dbdb;
}

hr {
  border-color: #F05F44;
  border-width: 3px;
  max-width: 65px;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44;
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 4px;
}

.btn-xl {
  padding: 1rem 2rem;
}
/* .background{
  width: 100%;
  height: 100%;
  background-image: url("header.jpg");*/
  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  height: 50%;
}


h1 {
  text-align: center;
  text-transform: uppercase;
  vertical-align: bottom;
  color: whitesmoke;
}

.header-title {
  margin-bottom: 8%;
}

.find-btn {
  margin-top: auto;
  margin-bottom: auto;
}

.btn-primary {
  text-align: center;
  text-transform: uppercase;
  background-color: orangered;
  border-color: orangered;
} */
